# 字节编译/优化/DLL 文件
__pycache__/
*.py[cod]
*$py.class

# C 扩展
*.so

# 发布/打包
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Node.js 相关
node_modules/
frontend/node_modules/
npm-debug.log
yarn-error.log

# PyInstaller 相关
# 通常这些文件由 Python 脚本从模板编写
# 在 PyInstaller 构建 exe 之前，以便注入日期/其他信息。
*.manifest
*.spec
!run_app.spec

# 安装程序日志
pip-log.txt
pip-delete-this-directory.txt

# 单元测试 / 覆盖率报告
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# 翻译文件
*.mo
*.pot

# Django 相关:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask 相关:
instance/
.webassets-cache

# Scrapy 相关:
.scrapy

# Sphinx 文档
docs/_build/

# PyBuilder 相关
.pybuilder/
target/

# Jupyter Notebook 相关
.ipynb_checkpoints

# IPython 相关
profile_default/
ipython_config.py

# pyenv 相关
# 对于库或包，你可能希望忽略这些文件，因为代码
# 旨在多个环境中运行；否则，请签入它们：
# .python-version

# pipenv 相关
# 根据 pypa/pipenv#598，建议在版本控制中包含 Pipfile.lock。
# 但是，在协作的情况下，如果具有平台特定的依赖项或
# 没有跨平台支持的依赖项，pipenv 可能会安装不起作用的依赖项，或者
# 不安装所有需要的依赖项。
#Pipfile.lock

# PEP 582；例如由 github.com/David-OConnor/pyflow 使用
__pypackages__/

# Celery 相关
celerybeat-schedule
celerybeat.pid

# SageMath 解析文件
*.sage.py

# 环境相关
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder 项目设置
.spyderproject
.spyproject

# Rope 项目设置
.ropeproject

# mkdocs 文档
/site

# mypy 相关
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre 类型检查器
.pyre/

# pytype 静态类型分析器
.pytype/

# Cython 调试符号
cython_debug/

# 本地数据和数据库
data/
*.db
*.pdf
